<!-- <div class="init container d-flex flex-column gap-5">
    <img src="/UTTN_App_CV/www/public/img/UTTN_logo.png" alt="UTTN Logo" class="h-auto w-100">
    <div class="w-100">
        <div class="bg-uttn text-light text-center w-100 position-relative start-0 end-0 p-3 row m-0 py-5">
            <div class="col-12 col-sm-12 col-md-6 mb-4 align-self-center">
                <i class="bi bi-feather rounded border border-5 border-light px-2 "></i>
            </div>
            <div class="col-12 col-sm-12 col-md-6 gap-3 d-flex flex-column">
                <h4>Create your account</h4>
                <p>Create your resume right now, and <span class="text-decoration-underline link-offset-1">connect with your next job!</span></p>
                <button class="btn btn-light">Create your account</button>
            </div>
        </div>
    </div>
    <div class="w-100 bg-light p-3">
        <h3><span class="text-success fw-bold">S</span>teps to reach your goal</h3>
        <ul class="p-3 d-flex flex-wrap gap-5 w-100">
            <li class="w-25 mx-auto">
                <div><i class="text-success bi bi-file-earmark-break"></i></div>
                <div>Create your digital resume</div>
            </li>
            <li class="w-25 mx-auto">
                <div><i class="text-success bi bi-share"></i></div>
                <div>Enable share your information with the companies</div>
            </li>
            <li class="w-25 mx-auto">
                <div><i class="text-success bi bi-telephone-inbound"></i></div>
                <div>Do the first contact</div>
            </li>
            <li class="w-25 mx-auto">
                <div><i class="text-success bi bi-person-check"></i></div>
                <div>Close the deal!</div>
            </li>
        </ul>
    </div>
    <hr>
    <div class="w-100 p-3 bg-dark p-3 text-light mb-3">
        <h4>Time to upload your information</h4>
        <p>Your account waits for you, enter and continue where you left it.</p>
        <br>
        <button class="btn btn-primary">Log in</button>
    </div>
</div> -->