<div class="bg-uttn-gr shadow-s d-flex">
    <ul class="px-2 py-3 m-0 d-flex w-100">
        <div class="li-container d-flex">
            <li class="navmenu-button px-2">
                <i class="bi bi-houses-fill"></i>
            </li>
            <li class="navmenu-button px-2">
                <i class="bi bi-grid-fill"></i>
            </li>
            <li class="navmenu-button px-2">
                <i class="bi bi-search"></i>
            </li>
            </li>
            <li class="navmenu-button px-2">
                <i class="bi bi-person-circle"></i>
            </li>
        </div>
    </ul>
</div>
