
<div class="search-container">
    <div class="class-search-container">
        <h4 class="search-subtitle">Busca Categorías</h4>
    </div>
    <div class="search-bar">
        <i class="search bi bi-search"></i>
        <input class="search-bar" placeholder="Busca un sonido" id="searchInput">
    </div>

<div class="total-categories-container">
    <button class="card people">
        <div class="bg-people">
            <h5 class="card-title">People</h5>
        </div>
    </button>
    <button class="card ambience">
        <div class="bg-people">
            <h5 class="card-title">Ambience</h5>
        </div>
        </button>
    <button class="card animals">
        <div class="bg-animals">
            <h5 class="card-title">Animals</h5>
        </div>
    </button>
    <button class="card cartoons">
        <div class="bg-cartoons">
            <h5 class="card-title">Cartoons</h5>
        </div>
    </button>
    <button class="card emergency">
        <div class="bg-emergency">
            <h5 class="card-title">Emergency</h5>
        </div>
    </button>
    <button class="card foley">
        <div class="bg-foley">
            <h5 class="card-title">Foley</h5>
        </div>
    </button>
    <button class="card horror">
        <div class="bg-horror">
            <h5 class="card-title">Horror</h5>
        </div>
    </button>
    <button class="card tech">
        <div class="bg-tech">
            <h5 class="card-title">Tech</h5>
        </div>
    </button>    
</div>

<script>
    document.querySelector('.people').addEventListener('click', function(){
        loadPartialView('modules/submodules/people-cat', appRender);
    })

    document.querySelector('.ambience').addEventListener('click', function(){
        loadPartialView('modules/submodules/ambience-cat', appRender);
    })

    document.querySelector('.animals').addEventListener('click', function(){
        loadPartialView('modules/submodules/animals-cat', appRender);
    })

    document.querySelector('.cartoons').addEventListener('click', function(){
        loadPartialView('modules/submodules/cartoons-cat', appRender);
    })

    document.querySelector('.emergency').addEventListener('click', function(){
        loadPartialView('modules/submodules/emergency-cat', appRender);
    })

    document.querySelector('.foley').addEventListener('click', function(){
        loadPartialView('modules/submodules/foley-cat', appRender);
    })

    document.querySelector('.horror').addEventListener('click', function(){
        loadPartialView('modules/submodules/horror-cat', appRender);
    })

    document.querySelector('.tech').addEventListener('click', function(){
        loadPartialView('modules/submodules/tech-cat', appRender);
    })

    document.querySelector('.search-bar').addEventListener('click', function(){
        loadPartialView('modules/submodules/search-bar', appRender);
    })
    
</script>
