<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="public/css/login.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <title>SoundLocator Login</title>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
        <script src="public/js/jquery-3.2.1.min.js"></script>

    </head>
    <body>
        <!--Main Content-->
        <div class="bg-login">
          <img src="public/img/locate.png" alt="login" class="img-login">
        </div>
        <form class="p5">
          <!-- <div class="shadow p-3 mb-5 bg-body-tertiary rounded d-flex flex-column">
          </div> -->
          <h2 class="title text-center">Bienvenido a SoundApp</h2>
          <p class="description text-center">Sound Effects solo para ti</p>
          <div class="form-floating mb-3">
            <label for="floatingInput">Correo electrónico</label>
            <input type="email" class="form-control" id="userEmail" placeholder="name@example.com">
          </div>
          <div class="form-floating">
            <label for="floatingInput">Contraseña</label>
            <input type="password" class="form-control" id="userPassword" placeholder="Password">
            <button type="button" class="btn btn-viewpassword" id="togglePassword">
              <i class="bi bi-eye-fill"></i>
              <i class="bi bi-eye-slash-fill" style="display:none;"></i>
            </button>
          </div>
        </div>  
        <div class="d-flex justify-content-center">
          <button type="button" class="Send btn btn-primary bg-black">Iniciar Sesión</button>
        </div>
        <div class="my-4 text-center">
          <p class="label-login">¿No tienes una cuenta aún?</p>
          <p><span class="su">¡Regístrate!</span></p>
        </div>
        </form>
        
          <script>

            $(document).ready(function() {
              $('#togglePassword').click(function(){
                  // Obtener el input de contraseña
                  var passwordField = $('#userPassword');

                  // Obtener el ícono del ojo y el ojo tachado
                  var eye = $(this).find('.bi-eye-fill');
                  var eyeSlash = $(this).find('.bi-eye-slash-fill');

                  // Cambiar el tipo de input de contraseña
                  if (passwordField.attr('type') === 'password') {
                      passwordField.attr('type', 'text');
                      eye.hide();
                      eyeSlash.show();
                  } else {
                      passwordField.attr('type', 'password');
                      eye.show();
                      eyeSlash.hide();
                  }
              });
            });

            document.querySelector('.Send').addEventListener('click', function(){
                // Capturar los valores del formulario
                var userEmail = $('#userEmail').val();
                var userPassword = $('#userPassword').val();
        
        
                // Construir el objeto con los datos del formulario
                var formData = {
                    email: userEmail,
                    password: userPassword
                }
        
                login(formData);
            });

            document.querySelector('.su').addEventListener('click', function(){
              loadPartialView('signup', appRender);
            }); 
           </script>
    </body>
</html>           
