*{
    margin: 0;
    padding: 0;
}
/*Pantallas movil*/


.app{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.circle{
    border-radius: 50%; /* Make the element a perfect circle */
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-color: #007bff; /* Change the background color */
  color: white; /* Change the text color */
  text-align: center; /* Center the text */
  line-height: 50px; /* Align the text vertically */
  display: inline-block; /* Ensure consistent display across browsers */
  white-space: nowrap;
  text-overflow: ellipsis; /* This line truncates text with ellipsis... */
}

