*{
    margin: 0;
    padding: 0;
}
/*Pantallas movil*/


.app{
    width: 100vw;
    /* height: 400px; */
    padding: 1rem;

}

.circle{
    border-radius: 50%; /* Make the element a perfect circle */
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-color: #007bff; /* Change the background color */
  color: white; /* Change the text color */
  text-align: center; /* Center the text */
  line-height: 50px; /* Align the text vertically */
  display: inline-block; /* Ensure consistent display across browsers */
  white-space: nowrap;
  text-overflow: ellipsis; /* This line truncates text with ellipsis... */
}

.home-title {
    font-size: 2rem !important;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat';
}

.title {
    font-size: 1.5rem !important;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat';
}

.profile-data{
    height: 75vh !important;
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    src: url(../fonts/Montserrat-Black.ttf);
    src: url(../fonts/Montserrat-Medium.ttf);


    /* background-image: url("../img/sophie-back.jpg"); Replace with your image path */
    background-repeat: no-repeat; /* Optional: Prevents image tiling */
    background-size: cover; /* Optional: Ensures image fills the background */
    background-color: transparent; /* Remove background color */
    padding: 0; /* Adjust padding if needed */
    background-position-y: -9rem; /* Adjust position of background image */

    div.bg-white{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent !important;
        width: 100%;

        img{
            position: relative;
            top: -2rem;
            width: 75%;
            object-fit: contain;
            /* object-position: .5rem 5px; */

        }

        div{
            width: 100%;
        }

    }
}


.text-dark.custom-color{
    color: #0011ff !important;
    font-weight: bolder;
    font-family: "Montserrat";
    
}

/*Pantallas tablet
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        /* padding:75px 0px 75px 170px;   padding-top + padding-bottom + text area = image height
        margin:-90px 0px 0px -198px;  offset vertical: half of image height
                                      /* offset horizontal: half of image width and text area width
    }
}*/

nav{
    background-color: #fff !important;

    li {
        list-style: none;
    }

    a{
        color: #0011ff !important;
    }

    .my-4{
        font-family: "Poppins Semibold";
        font-weight: bolder;
        src: url(../fonts/Poppins-Regular.ttf);
        src: url(../fonts/Poppins-Black.ttf);
        src: url(../fonts/Poppins-Medium.ttf);

    }

    .bi{
        font-size: 1.8rem;
        color: #000;
    }

    .ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: x-large !important;
    }
    
    .px-2 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .li-container {
        margin: auto;
    }

    .py-3 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
}

.title-container {
    margin: 0;
}

.cont {
    width: fit-content;
    margin: auto !important;
}

.bi-broadcast-pin {
    font-size: 1.8rem;
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
}

span {
    font-family: "Montserrat";
    align-self: center;
    font-family: Montserrat;
    font-size: 1.8rem !important;
    font-style: normal !important;
    font-weight: 700;
}

.h2-text-dark {
    font-family: "Montserrat";
    font-size: 1.3rem !important;
    font-style: normal !important;
    font-weight: 700;
    margin-bottom: 0 !important;
}

.p-text-dark {
    font-family: "Montserrat";
    font-size: .9rem !important;
    font-style: normal !important;
    font-weight: 350;
    padding: 0.8rem 2rem 1.4rem 2rem;
    margin-bottom: 0 !important;
}

.fit-content {
    width: fit-content !important;
    margin: auto !important;
}

.label-login {
    margin-bottom: 0 !important;
}

.btn {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .7rem;
    border-radius: 2rem !important;
    background-color: #fed74f !important;
    color: #212529;
    font-family: "Montserrat";
    font-size: .8rem !important;
    font-weight: bold;
    border: none !important;
    margin: 1.2rem 0.4rem 0 0.4rem;
}

.button-nav {
    border: none;
    background-color: transparent;
}

.signin {
    border: 0.1rem solid #fed74f !important;
    background-color: white !important;
    color: #212529 !important;
    width: 90% !important;
    border-radius: 2rem !important;
    color: #212529;
    font-family: "Montserrat";
    font-size: 0.9rem !important;
    font-weight: 600;
    margin: 0rem 0.4rem 0 0.4rem;
    padding: 0.5rem;

    &:hover {
        background-color: #fed74f !important;
        color: white !important;
    }
}



.signup {
    width: 85% !important;
    border-radius: 2rem !important;
    background-color: #fed74f !important;
    color: #fff;
    font-family: "Montserrat";
    font-size: 1rem !important;
    font-weight: 650;
    border: none !important;
    margin: 0rem 0.4rem 0 0.4rem;
}

.shadow-s{
    box-shadow: 0rem -1px 11px 0rem rgba(0, 0, 0, 0.075);
}


div.login-view {

    background-color: #fff !important;
    padding: 1rem;

    li {
        list-style: none;
    }

    a{
        color: #0011ff !important;
    }

    .my-4{
        font-family: "Poppins Semibold";
        font-weight: bolder;
        src: url(../fonts/Poppins-Regular.ttf);
        src: url(../fonts/Poppins-Black.ttf);
        src: url(../fonts/Poppins-Medium.ttf);

    }
    .shadow-s{
        box-shadow: none !important;
    }

    .ul{
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
    }

    h1 {
        font-size: x-large !important;
    }
    
    .px-2 {
        padding-right: 0.75rem !important;
        padding-left: 0.75rem !important;
        text-align: center;

        p {
            margin-bottom: 0 !important;
        }
    }

    .li-container:hover {
        background-color: #c0c0c0 !important;
    }
    
}

div.search-container {
    display: grid !important;
    gap: 0.8rem;
    margin: 2rem 1rem 0rem 1rem !important;
}

div.home-main-container {
    display: grid !important;
    gap: 0.8rem;
    margin: 4rem 1rem 3rem 1rem !important;;
}

.search-bar {
    width: 100%;
    border: none;
    background-color: #f9faf9;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: .4rem;
}

.bi-search, .bi-x-lg {
    color: #cac9c9;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.bi-x-lg {
    width: 4rem;
    text-align: right;
}


input.search-bar {
    background-color: transparent;
    color: #88888c;
    margin: 0 !important;
    padding: 0 0.2rem 0 0.4rem !important;
    font-family: "Montserrat";
    width: auto;

    &:focus {
        outline: none !important;
    }
}

h4.search-subtitle {
    margin-bottom: 0.8rem !important;
    margin-top: 0.6rem !important;
    font-size: x-large;
}

.total-categories-container {
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;

    .card:nth-child(odd) {
        margin-left: 0;
        margin-right: 0.5rem;
    }
    
    .card:nth-child(even) {
        margin-left: 0.5rem;
        margin-right: 0;
    }
}


.total-categories-container:nth-last-child(-n+2) {
    margin-bottom: 4rem;
}

.card {
    height: 20vh !important;
    width: calc(50% - 0.5rem);
    margin: 0.5rem 0 0.5rem 0;
    box-sizing: border-box;
    position: relative;
}

h5.card-title {
    color: #212529 !important;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.5rem; 
}

.people {
    background-color: #fed74f !important;
    background-image: url("../img/Categories-Icons_People.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.animals {
    background-color: #fed74f !important;
    background-image: url("../img/Categories-Icons_Animals.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("../img/animals.png"); */
    /* background-repeat: no-repeat; 3ec5f4*/
}

.emergency {
    background-color: #fed74f !important;
    background-image: url("../img/Categories-Icons_Emergency.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("../img/emergency.png"); */
    /* background-repeat: no-repeat; */
    h5.card-title {
        color: #000 !important;
    }
}

.foley {
    background-color: #fed74f !important;
    background-image: url("../img/Categories-Icons_Foley.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("../img/foley.png"); */
    /* background-repeat: no-repeat; */
}

.ambience {
    background-color: #fed74f !important;
    background-image: url("../img/Categories-Icons_Ambience.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("../img/ambience.png"); */
    /* background-repeat: no-repeat; */
}

.cartoons {
    background-color: #fed74f !important;
    background-image: url("../img/Categories-Icons_Cartoons.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("../img/cartoons.png"); */
    /* background-repeat: no-repeat; */
}

.tech {
    background-color: #fed74f !important;
    background-image: url("../img/Categories-Icons_Tech.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("../img/tech.png"); */
    /* background-repeat: no-repeat; */
}

.horror {
    background-color: #fed74f !important;
    background-image: url("../img/Categories-Icons_Horror.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* &:horror {

    } */

    h5.card-title {
        color: #000 !important;
    }
    /* background-image: url("../img/horror.png"); */
   /* background-repeat: no-repeat; */
}

.categories-container {
    padding: 3rem 1.3rem 1.3rem 1.3rem !important;
    max-width: 100% !important;
    /* display: flex;
    flex-wrap: wrap; */

    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sounds {
        margin-top: 1.4rem !important;
        .music {
            border:#d9d9d9 solid 1px;
            border-radius: 0.5rem;
            width: 100%;
            margin-bottom: 1rem !important;

            &:last-child {
                margin-bottom: 3rem !important;
            }
        }
    
        .id {
            display: grid;
            grid-template-columns: 3fr 1fr;
            align-items: center;
            padding: 1rem;
            box-shadow: 0 0 20px rgba(red, 0, 0, 0.4);
            background: #fff;
            color: #555;
            border-radius: 8px;

            .soundName {
                font-weight: bold;
                color: #212529;
                font-size: 1rem;
                max-width: 70%;
                margin-bottom: 0 !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
            
        .track {
            padding: 0 1rem 0 1rem;
            height: 40px;
        }
        
        .img-btn {
            width: auto;
            justify-self: end;

            .playBtn {
                width: 2rem;
                cursor: pointer;
            }
    
            .dwldBtn {
                width: 2rem;
                cursor: pointer;
            }
        }
    }
}

.categoriess-container {
    /* padding: 0rem 1.3rem 1.3rem 1.3rem !important; */
    max-width: 100% !important;
    /* display: flex;
    flex-wrap: wrap; */

    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sounds {
        margin-top: 1.2rem !important;
        .music {
            border:#d9d9d9 solid 1px;
            border-radius: 0.5rem;
            width: 100%;
            margin-bottom: 1rem !important;

            &:last-child {
                margin-bottom: 3rem !important;
            }
        }
    
        .id {
            display: grid;
            grid-template-columns: 3fr 1fr;
            align-items: center;
            padding: 1rem;
            box-shadow: 0 0 20px rgba(red, 0, 0, 0.4);
            background: #fff;
            color: #555;
            border-radius: 8px;

            .soundName {
                font-weight: bold;
                color: #212529;
                font-size: 1rem;
                max-width: 70%;
                margin-bottom: 0 !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
            
        .track {
            padding: 0 1rem 0 1rem;
            height: 40px;
        }
        
        .img-btn {
            width: auto;
            justify-self: end;

            .playBtn {
                width: 2rem;
                cursor: pointer;
            }
    
            .dwldBtn {
                width: 2rem;
                cursor: pointer;
            }
        }
    }
}

.home-title {
    font-size: 2rem !important;
    font-weight: bold;
    text-align: center;

    .icon {
        font-size: 2rem;
    }
}

h5.home-subtitle {
    font-size: 1.75rem !important;
    font-weight: 600;
}

.home2-subtitle {
    font-size: 1.2rem;
}



div.bg-entertainment {
    margin: 0.5rem 0 0.5rem 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/entertainment.png") !important;
    h5.card2-title {
        color: #212529 !important;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0.5rem; 
    }
}

div.card3 {
    display: inline-block;
    width: calc(51.5% - 1rem);
    margin: 0.5rem;
    box-sizing: border-box;
    position: relative;
    border: none;
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

div.card3 .bg-cartoons2,
div.card3 .bg-films {
    margin: 0.5rem 0 0.5rem 0;
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
}

.card-cartoon {
    margin-left: 0 !important;
}

.card-film {
    margin-right: 0 !important;
}

div.card3 .bg-cartoons2 {
    background-image: url("../img/cartoons2.png");

}

div.card3 .bg-films {
    background-image: url("../img/films.png");
}

.counting-container {
    font-size: 0.8rem;
    color:#555;
    font-family: "Montserrat";

    .counting {
        color: #909090;
        margin-top: 0.8rem !important;
        margin-bottom: 0 !important;
        font-size: 0.8rem !important;
        font-family: "Montserrat";
    }
}

.label-login {
    margin-bottom: 0;
}

.su, .LI {
    text-decoration: underline;
    cursor: pointer;
}

/* #backButton {
    background-color: transparent !important;
    border: none !important;
    margin-bottom: 1rem !important;
} */

div.bg-primary {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
}

.profile-data{

    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
    src: url(../fonts/Poppins-Black.ttf);
    src: url(../fonts/Poppins-Medium.ttf);

    /* background-image: url("../img/sophie-back.jpg"); Replace with your image path */
    background-repeat: no-repeat; /* Optional: Prevents image tiling */
    background-size: cover; /* Optional: Ensures image fills the background */
    background-color: transparent; /* Remove background color */
    padding: 0; /* Adjust padding if needed */
    background-position-y: -9rem; /* Adjust position of background image */

    div.bg-white{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent !important;
        width: 100%;

        img{
            position: relative;
            top: -2rem;
            width: 75%;
            object-fit: contain;
            /* object-position: .5rem 5px; */

        }

        div{
            width: 100%;
        }

        h2 {
            font-size: large !important;
        }
    }
}

.text-dark.custom-color{
    color: #0011ff !important;
    font-weight: bolder;

    
}

.search-bar {
    display: flex; 
    align-items: center;
}

.cancel-button {
    display: flex;
    border: none !important; 
    background-color: #f9faf9 !important;
    color: #88888c;
    font-weight: 500; 
    margin-left: 5px;
    justify-content: flex-end;
    font-family: "Montserrat";

}




/* Pantallas tablet
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height
                                      /* offset horizontal: half of image width and text area width
    }
} */

/* nav{

    background-color: #fff !important;

    li {
        list-style: none;
    }

    a{
        color: #0011ff !important;
    }

    .my-4{
        font-family: "Poppins Semibold";
        font-weight: bolder;
        src: url(../fonts/Poppins-Regular.ttf);
        src: url(../fonts/Poppins-Black.ttf);
        src: url(../fonts/Poppins-Medium.ttf);

    }

    .bi-soundwave{
        font-size: 2rem;
        color: #fed74f    ;
    }

    .bi-gear-wide-connected{
        font-size: 2rem;
        color: #fed74f    ;
    }

    .ul{
        list-style-type: none; /* Remove bullets
        padding: 0; /* Remove default padding
        margin: 0; /* Remove default margin
    }

    h1 {
        font-size: x-large !important;
    }
    
    .px-2 {
        padding-right: 0.75rem !important;
        padding-left: 0.75rem !important;
    }
    
}*/

div.login-view {

    background-color: #fff !important;
    padding: 1rem;

    li {
        list-style: none;
    }

    a{
        color: #0011ff !important;
    }

    .my-4{
        font-family: "Montserrat Semibold";
        font-weight: bolder;
        src: url(../fonts/Poppins-Regular.ttf);
        src: url(../fonts/Poppins-Black.ttf);
        src: url(../fonts/Poppins-Medium.ttf);

    }
    .shadow-sm {
        box-shadow: none !important;
    }

    .ul{
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
    }

    h1 {
        font-size: x-large !important;
        font-family: "Poppins";
    }
    
    .px-2 {
        padding-right: 0.75rem !important;
        padding-left: 0.75rem !important;

    }

    
    
}


.bg-login {
    width: 100%;

    img{
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        display:block !important;
        width: 70%;
        object-fit: contain;
    
    }
}

h2 {
    font-family: "Montserrat Semibold";
    font-size: x-large !important;
}

p {
    font-family: "Montserrat";
}


.form-control {
    background-color: #f4f4f3 !important;
    border-radius: 1.75rem !important;
    font-family: "Montserrat";
    font-size: 0.86rem !important;
    height: 3rem !important;
    min-height: 2.75rem !important;
    line-height: 1.25rem !important;
}


.form-floating>label {
    padding: 0.3rem .75rem 0rem 1rem !important;
    font-family: "Montserrat";
    font-size: 0.75rem !important;
    color: #a5a8ab;
}

.form-floating>.form-control {
    padding: 1.2rem .75rem .27rem 1rem !important;
}

a {
    text-decoration: none !important;
}
.my-4 {
    font-family: "Montserrat";

    span {
        font-weight: none;
        color: #fed74f;
        font-size: 0.975rem !important;
    }
}
.justify-content-center {
    /* margin-top: 1.2rem !important; */

    .btn {
        --bs-btn-padding-x: 2rem;
        --bs-btn-padding-y: .7rem;
        border-radius: 2rem !important;
        background-color: #fed74f !important;
        color: #fff;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: large !important;
        border: none;
        width: 100%;
    }
}

a {
    color: #212529 !important;
}

.btn-viewpassword {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent !important;
    font-size: 1.3rem !important;
    margin-right: 1.2rem !important;
    color: #c6cbcf !important;
    border: none;
}

.login-container, .signup-container {
    /* padding-top: 1rem !important; */
    padding-bottom: 1rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.save, .delete {
    border: none;
    background-color: #fed74f !important;
    color: #fff !important;
    width: 90% !important;
    border-radius: 2rem !important;
    font-family: "Montserrat";
    font-size: 0.7rem !important;
    font-weight: 600;
    margin: 0rem 0.4rem 0 0.4rem;
    padding: 0.5rem;
}

.profile-div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #f1f1f4;
    min-height: 100vh;
}

.profile-title {
    color: #000;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 2rem;
}

.profile-card {
    width: 100% !important;
    padding: 0 !important;
}

.profile-container {
    background-color: #f1f1f4;
}


.carta {
    /* border-radius: 0 0 60% 60% !important; */
    background-color: #fed74f;
    width: 100%;
    height: 5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: -25%; */
}

.profile-pic {
    padding: 0 !important;
    width: 6.5rem !important;
    border: solid #fed74f 0.3rem;
    /* position: absolute;
    z-index: 2; */
}

.user-card {
    padding: 3rem 2rem 2rem 2rem !important;
    background-color: #fff;
    width: 90% !important;
    border-radius: 2.5rem;
    margin: auto;
}

.input-container .profile-text {
    font-size: 0.7rem !important;
    font-weight: 500 !important;
    color: #444446;
    /* color: #a7a7ad; */
    background-color: #fff;
    position: absolute;
    top: -0.4rem;
    left: 2.2rem;
    padding: 0 0.3rem 0 0.3rem;
}

.card-text {
    /* border-radius: 2rem; */
    border: none;
    border-bottom: solid #fed74f 0.1rem;
    height: 2.3rem;
    color: #88888c;
    padding: 0.5rem 1.3rem 0.1rem 0.2rem;
    font-size: 0.8rem;
    background-color: #fff !important;
}

.user-card input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

.input-container {
    position: relative;
    margin-bottom: 20px; 
    display: flex;
    background-color: #fff !important;
}

.button-container {
    margin-top: 2rem;
}

/* .prof-icons {
    font-size: 1.5rem;
    width: 1.85rem;
    height: 2.3rem;
    background-color: #f2f0f0;
    padding: 0 0.2rem 0 0.2rem;
    border-radius: 0.4rem;
    color: #000;
    margin-right: 0.5rem;
}

.card-text-lastn {
    left: 10.1rem !important;
}

.name-card-text {
    width: calc(50% - 0.5rem) !important;
    margin-right: 1rem;
}

.ln-card-text {
    width: calc(50% - 0.5rem) !important;
}

.card-text-container>.profile-text {
    width: calc(50% - 0.5rem) !important;
}

.card-text-lastn {
    padding-left: 1rem !important;
}

.card-text-na, .card-text-lastn {
    font-size: 0.7rem !important;
    font-weight: 500 !important;
    color: #a7a7ad;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: calc(50% - 0.5rem) !important;
    padding: 0 0.3rem 0 0.3rem;
}

.name-card-text, .ln-card-text {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    height: 1.5rem !important;
}
 */

 .prof-icons {
    font-size: 1.5rem;
    width: 1.85rem;
    height: 2.3rem;
    background-color: #f2f0f0;
    padding: 0.2rem;
    border-radius: 0.4rem;
    color: #000;
    margin-right: 0.5rem;
}

.card-text-container {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
}

.card-text-container span {
    margin-right: 1rem; /* Espacio entre los elementos */
}

.card-text-na, .card-text-lastn {
    font-size: 0.7rem !important;
    font-weight: 500 !important;
    color: #444446;
    /* color: #a7a7ad; */
    background-color: #fff;
    width: calc(50% - 0.5rem) !important;
    padding: 0 0.3rem 0 0.3rem;
}

.name-card-text, .ln-card-text {
    width: calc(50% - 0.5rem) !important;
    margin-right: 1rem;
    height: 1.5rem;
    font-size: 0.7rem !important;
    font-weight: 500;
    color: #a7a7ad;
    background-color: #fff;
    padding: 0 0.3rem;
    font-family: "Montserrat";
    margin-bottom: 0 !important;
}

.inp-cont2 {
    display: flex;
    justify-content: space-between; /* Espacio entre los contenedores */
}

.ln-card-text {
    margin-right: 0 !important;
}

.column1 {
    width: 1.85rem;
}

.column2 {
    margin-left: 0.5rem;
    width: 100%;
}

