<div class="profile-div">
  <h2 class="profile-title z-3">Mi Cuenta</h2>
  <div class="carta">
    <div class="rounded-circle">
      <img src="public/img/image.png" class="furro profile-pic card-img-top rounded-circle img-fluid" alt="...">
    </div> 
  </div>
  <div class="profile-container mb-5">
    <div class="user-card profile-card card-body">
      <div class="input-container">
        <span class="profile-text">Nombre de usuario: </span>
        <input class="Usuario card-text"></input>
      </div>
      <div class="input-container">
        <span class="profile-text">Nombre(s): </span>
        <input class="Nombre card-text"></input>
      </div>
      <div class="input-container">
        <span class="profile-text">Apellido(s): </span>
        <input class="Apellido card-text"></input>
      </div>
      <div class="input-container">
        <span class="profile-text">Correo electrónico: </span>
        <input class="Correo card-text"></input>
      </div>
      <div class="input-container">
        <span class="profile-text">Descripción: </span>
        <input class="Descripcion card-text"></input>
      </div>
      <div class="input-container">
        <span class="profile-text">Cambiar contraseña: </span>
        <input class="Password card-text"></input>  
      </div>
    </div>
  </div>
</div>