<div class="categories-container">
    <div class="class-search-container">
        <h5 class="search-subtitle">Sonidos de Horror</h5>
    </div>

    <div class="class-container">
        <p class="search-subtitle">Susurros, crujidos y aullidos. Adéntrate en un mundo de misterio y terror con sonidos que te harán estremecer.</p>
    </div>
    <!-- <div class="search-bar">
        <i class="search bi bi-search"></i>
        <input class="search-bar" placeholder="Busca un sonido">
    </div> -->
    <div class="counting-container">
    </div>
        
    <div class="sounds container">

    </div>
  </div>
    <script>
    // document.addEventListener('DOMContentLoaded', function() {
    //     var musicContainer = document.querySelector('.music');
    //     var newSound = musicContainer.cloneNode(true);
    //     var container = document.querySelector('.people-sounds');
    //     container.appendChild(musicContainer);
    // })
    
    // Variables
    var playBtns = [];
    var soundNames = [];
    var apiKey = 'w16UskGC58N8mYEcigobTO8XZKU6jg43jCuZc5T3';
    var category = 'horror';

    // Crear la URL de búsqueda
    var searchURL = 'https://freesound.org/apiv2/search/text/?query=' + category + '&token=' + apiKey;

    // Realizar la solicitud GET para buscar sonidos basados en la categoría
    $.getJSON(searchURL, function(searchData) {
        // Verificar si se encontraron resultados
        if (searchData.results && searchData.results.length > 0) {
            // Obtener el contenedor .people-sounds.container
            var SoundsContainer = document.querySelector('.sounds.container');

            // Iterar sobre los resultados
            searchData.results.forEach(function(result, index) {
                // Crear dinámicamente el contenedor .music
                var musicContainer = document.createElement('div');
                musicContainer.className = 'music';

                // Crear el contenedor .id
                var idContainer = document.createElement('div');
                idContainer.className = 'id';

                // Crear el contenedor .img-btn
                var imgBtnContainer = document.createElement('div');
                imgBtnContainer.className = 'img-btn';

                // Crear el elemento p para el nombre del sonido
                var soundName = document.createElement('p');
                soundName.className = 'soundName';
                soundName.textContent = 'Loading...';

                // Crear el contenedor .track y .waveform
                var trackContainer = document.createElement('div');
                trackContainer.className = 'track';
                var waveformContainer = document.createElement('div');
                waveformContainer.className = 'waveform';

               // Crear los elementos img para los botones de reproducción y descarga
               var playBtn = document.createElement('img');
                playBtn.className = 'playBtn';
                playBtn.src = 'public/img/play.png';

                var dwldBtn = document.createElement('img');
                dwldBtn.className = 'dwldBtn';
                dwldBtn.src = 'public/img/download.png';

                // Agregar los elementos creados al DOM
                imgBtnContainer.appendChild(playBtn);
                imgBtnContainer.appendChild(dwldBtn);
                idContainer.appendChild(soundName);
                idContainer.appendChild(imgBtnContainer);
                trackContainer.appendChild(waveformContainer);
                musicContainer.appendChild(idContainer);
                musicContainer.appendChild(trackContainer);

                // Agregar el contenedor .music al contenedor .sounds.container
                SoundsContainer.appendChild(musicContainer);

                // Guardar las referencias a los botones de reproducción y nombres de sonido
                playBtns.push(playBtn);
                soundNames.push(soundName);

                // Obtener el ID del sonido actual
                var soundId = result.id;

                // Obtener información del sonido utilizando su ID
                $.getJSON('https://freesound.org/apiv2/sounds/' + soundId + '/?token=' + apiKey)
                    .done(function (data) {

                        // Establecer el nombre del sonido en el contenedor .soundName correspondiente
                        soundNames[index].textContent = data.name;

                        // Configurar Wavesurfer
                        const wavesurfer = WaveSurfer.create({
                            container: musicContainer.querySelector('.track .waveform'),
                            waveColor: '#fcedb8',
                            progressColor: '#fed74f',
                            cursorColor: '#000',
                            barWidth: 3,
                            barHeight: 20,
                            responsive: true,
                            height: 30,
                            barRadius: 4,
                            backend: 'MediaElement',
                        });

                        // Manejador de errores de Wavesurfer
                        wavesurfer.on('error', function (err) {
                            console.error("Error de Wavesurfer:", err);
                        });

                        wavesurfer.load(data.previews['preview-hq-mp3']);

                        // Configurar el botón de reproducción
                        playBtns[index].onclick = function () {
                            wavesurfer.playPause();
                            if (wavesurfer.isPlaying()) {
                                playBtns[index].src = 'public/img/pause.png';
                            } else {
                                playBtns[index].src = 'public/img/play.png';
                            }
                        };

                        // Manejar el evento 'finish' de Wavesurfer
                        wavesurfer.on('finish', function () {
                            playBtns[index].src = 'public/img/play.png';
                            wavesurfer.stop();
                        });
                        countAndDisplay();

                        // Configure download button to redirect to Freesound page
                        dwldBtn.addEventListener('click', function () {
                            window.location.href = 'https://freesound.org/s/' + data.id;
                        });
                    })
            });
        }
    });


    function countAndDisplay() {
        var count = $('.sounds.container .music').length;
        var countElement = $('<p class="counting"></p>');
        countElement.text('Se han encontrado ' + count + ' sonidos');
        $('.counting-container').empty();
        $('.counting-container').append(countElement);
    }

</script>
</div>