<div class="categories-container">
    <div class="class-search-container">
        <h5 class="search-subtitle">Ambience Sounds</h5>
    </div>

    <div class="class-container">
        <p class="search-subtitle">Relaxing or chaotic, nature or urban life, explore our sound library of ambience sounds.</p>
    </div>
    <div class="search-bar">
        <i class="search bi bi-search"></i>
        <input class="search-bar" placeholder="Search sounds"></input>
    </div>
        
    <div class="people-sounds container">
        <div class="music">
          <div class="id">
            <p class="soundName">Loading...</p>
          <div class="img-btn">
            <img src="../../www/public/img/play.png" class="playBtn">
            <img src="../../www/public/img/download.png" class="dwldBtn">
          </div>
          </div>
          <div class="track">
            <div class="waveform"></div>
          </div>
        </div>
    </div>
  </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var musicContainer = document.querySelector('.music');
          var newSound = musicContainer.cloneNode(true);

          var container = document.querySelector('.people-sounds');
          container.appendChild(musicContainer);

      })
      
        var playBtns = document.querySelectorAll('.playBtn');
        var soundNames = document.querySelectorAll('.soundName');
  
        // Replace with your Freesound API key
        var apiKey = 'w16UskGC58N8mYEcigobTO8XZKU6jg43jCuZc5T3';
  
        // Array of sound IDs to fetch
        var soundIds = ['33511', '33515', '33513', '33514', '33515'];
  
        soundIds.forEach(function(soundId, index) {
          var musicContainer = document.querySelectorAll('.track')[index];
          
          $.getJSON('https://freesound.org/apiv2/sounds/' + soundId + '/similar/?token=' + apiKey, function(similarData) {
            // Choose the first similar sound from the list
            var similarSoundId = similarData.results[1].id;
  
            $.getJSON('https://freesound.org/apiv2/sounds/' + similarSoundId + '/?token=' + apiKey, function(data) {
              soundNames[index].textContent = data.name;
  
              const wavesurfer = WaveSurfer.create({
                container: musicContainer.querySelector('.waveform'),
                waveColor: '#fcedb8',
                progressColor: '#fed74f',
                cursorColor: '#000',
                barWidth: 4,
                barHeight: 20,
                responsive: true,
                height: 30,
                barRadius: 4,
                url: data.previews['preview-hq-mp3'], 
              });
              wavesurfer.load();
              playBtns[index].onclick = function() {
                wavesurfer.playPause();
                if (wavesurfer.isPlaying()) {
                  playBtns[index].src = 'public/img/pause.png';
                } else {
                  playBtns[index].src = 'public/img/play.png';
                }
              }
              wavesurfer.on('finish', function() {
                playBtns[index].src = 'public/img/play.png';
                wavesurfer.stop();
              });
            });
          });
        });

      </script>
</div>