<div class="profile-data bg-primary pt-5">
    <div class="title-container w-100">
        <div class="cont d-flex">
            <i class="bi bi-broadcast-pin"></i>
            <span class="title">Soundapp</span>
        </div>
    </div>
    <div class="home bg-white mt-4">
        <!-- <img src="public/img/bg.png" alt="background" class="bg-home"> -->
        <!-- <img src="../../img/logo.png" alt="Ejemplo" class="bg-light rounded-circle"> -->
        <div class="w-100 px-3 text-center">
            <h2 class="text-dark">¡Bienvenido!</h2>
            <!-- <div class="my-4">
                <p class="text-primary">Descripción personal</p>
                <p class="text-muted">Frase motivacional/graciosa/etc.</p>
            </div> -->
        </div>
    </div>
</div>