<div class="profile-data bg-primary pt-5">
    <div class="title-container">
        <div class="cont d-flex">
            <i class="bi bi-broadcast-pin"></i>
            <span class="title">Soundapp</span>
        </div>
    </div>
    <div class="home bg-white mt-4">
        <!-- <img src="public/img/bg.png" alt="background" class="bg-home"> -->
        <!-- <img src="../../img/logo.png" alt="Ejemplo" class="bg-light rounded-circle"> -->
        <div class="fit-content text-center">
            <h2 class="h2-text-dark">¡Bienvenido!</h2>
            <!-- <div class="my-4">
                <p class="text-primary">Descripción personal</p>
                <p class="text-muted">Frase motivacional/graciosa/etc.</p>
            </div> -->
        </div>
        <div class="fit-content text-center">
            <p class="p-text-dark">Discover our catalog of royalty-free sound effects. Whoosh, cartoon or ghost sfx - with different sound effects categories you are sure to find what you are looking for. </p>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary signin">Iniciar Sesión</button>
            <button type="button" class="btn btn-primary signup">Registrarse</button>
        </div>
    </div>

    <script>
        document.querySelector('.signin').addEventListener('click', function(){
            loadPartialView('login', appRender);
        })
        document.querySelector('.signup').addEventListener('click', function(){
            loadPartialView('signup', appRender);
        })
    </script>
</div>